@mixin font-settings($size, $height) {
    font-size: $size;
    line-height: $height;
}

@mixin pseudo($display: inline-block, $content: '') {
    display: $display;
    content: $content;
}

@mixin pseudoline($display: inline-block, $content: '', $width:60px, $height:1px) {
    display: $display;
    content: $content;
    width: $width;
    height: $height;
}

@mixin bg-image($path: '', $size: cover, $repeat: no-repeat, $pos: center) {
    background-image: url($path);
    background-size: $size;
    background-repeat: $repeat;
    background-position: $pos;
}

@mixin center-flex($type: 'all') {
    display: flex;
    @if $type=='all' {
        justify-content: center;
        align-items: center;
    }
    @else if $type=='hor' {
        justify-content: center;
    }
    @else if $type=='ver' {
        align-items: center;
    }
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($justify-content: '', $align-items: '', $flex-wrap: '', $align-content: '') {
    display: flex;
    // flex-wrap
    @if $flex-wrap=='wrap' {
        flex-wrap: wrap;
    }
    @else {}
    // justify-content 
    @if $justify-content=='center' {
        justify-content: center;
    }
    @else if $justify-content=='space-between' {
        justify-content: space-between;
    }
    @else {}
    // align-items
    @if $align-items=='center' {
        align-items: center;
    }
    @else if $align-items=='flex-end' {
        align-items: flex-end;
    }
    @else {}
    // align-content
    @if $align-content=='space-between' {
        align-content: space-between;
    }
    @else {}
}