body {
  position: relative;
}

.container {
  max-width: 292px;
}

.header {
  position: absolute;
  top: 21px;
  background-color: $main-text-color;
  width: 100%;
}

.header-bar {
  min-height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  height: 60px;
}

.nav [type='checkbox'] {
  display: none;
}

@media all and (max-width: 767px) {
  .nav ul {
    display: none;
  }
  .nav {
    position: relative;
  }

  .nav label.toggleMenu {
    top: 15px;
    display: block;
    cursor: pointer;
    position: relative;
    height: 65px;
  }
  // .nav-list {
  //   position: absolute;
  //   width: 320px;
  //   right: -15px;
  //   text-align: center;
  //   background-color: white;
  // }
}

input.toggleMenu:checked ~ ul {
  display: block;
  & .header {
    position: relative;
    z-index: 1;
  }
}

.logo-link {
  @extend %link;
  color: $main-seagreen-color;
  font-family: $second-font;
  height: 80px;
  @include font-settings(22px, 80px);
}

.nav-list {
  @extend %list;
  text-transform: uppercase;
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.nav-link {
  font-family: $main-font;
  font-weight: bold;
  color: $slider__article;
  opacity: 0.6;
  @extend %link;
  @include font-settings(12px, 36px);
  &:hover {
    opacity: 1;
  }
}

.header-banner-section {
  font-family: $main-font;
  padding-top: 181px;
  color: $main-text-color;
  background-image: url(../images/header-banner-section-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-section-header__top {
  margin: 0;
  font-family: $second-font;
  @include font-settings(25px, 36px);
}

.banner-section-header__bottom {
  margin: 0 0 40px;
  font-weight: normal;
  @include font-settings(18px, 24px);
}

.presentation-list {
  @extend %list;
  padding-left: 22px;
  margin-bottom: 30px;
}

.presentation-item {
  @include font-settings(12px, 36px);
  position: relative;
  &::before {
    content: url(../images/angle-right.svg);
    position: absolute;
    top: 1px;
    left: -35px;
  }
}

// sadadadad

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
  // sdadaddada

  .banner-images {
    position: relative;
  }

  .banner-phone__big {
    display: none;
    background-image: url(../images/screen.png);
    background-size: contain;
    height: 444px;
    width: 256px;
  }

  .banner-phone__small {
    display: none;
    background-image: url(../images/screen.png);
    background-size: contain;
    height: 403px;
    width: 232px;
  }

  .download-button {
    margin-bottom: 105px;
    margin-left: 25px;
    height: 48px;
    width: 212px;
    border: 0;
    border-radius: 5px;
    background-color: $main-seagreen-color;
    color: $main-text-color;
  }

  .button-link::before {
    content: url(../images/icon-download.png);
    vertical-align: sub;
    padding-right: 15px;
  }

  .button-link {
    @extend %link;
    @include font-settings(20px, 36px);
    &:visited {
      color: $main-text-color;
    }
  }

  // TABLET

  @media (min-width: 768px) {
    .container {
      max-width: 708px;
    }

    .header {
      position: absolute;
      top: 30px;
    }

    .header-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .logo-link {
      @include font-settings(30px, 36px);
    }
  }

  .nav-list {
    width: 448px;
    line-height: 60px;
  }

  .header-banner-section {
    padding-top: 280px;
    color: $main-text-color;
    height: 758px;
    background-image: url(../images/header-banner-section-tablet.png);
  }

  .banner-section-header__top {
    @include font-settings(42px, 36px);
  }

  .banner-section-header__bottom {
    width: auto;
    @include font-settings(22px, 36px);
  }

  .banner-phone__big {
    position: absolute;
    left: 436px;
    bottom: -299px;
    display: block;
  }

  .banner-phone__small {
    position: absolute;
    left: 394px;
    top: -104px;
    display: block;
  }

  .presentation-item {
    @include font-settings(16px, 36px);
  }

  .download-button {
    margin: 0 0 0 25px;
  }
}

// DESKTOP

@media (min-width: 1200px) {
  .container {
    max-width: 1145px;
  }

  .nav-link {
    @include font-settings(13px, 36px);
  }

  .banner-phone__big {
    position: absolute;
    height: 663px;
    width: 382px;
    left: 715px;
    bottom: -328px;
    display: block;
  }

  .banner-phone__small {
    position: absolute;
    height: 600px;
    width: 346px;
    left: 646px;
    top: -272px;
    display: block;
  }
}
